# Data Analyst Project

## Importing Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

## Data Wragling

### Gathering Data

In [2]:
day = pd.read_csv("data\day.csv")
day.head(5)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [3]:
hour = pd.read_csv("data\hour.csv")
hour.head(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

### Assessing Data

#### Assessing Day DataFrame

In [4]:
day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [5]:
day.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [6]:
print("jumlah duplikasi data pada day dataset :" , day.duplicated().sum())

jumlah duplikasi data pada day dataset : 0

In [7]:
day.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
instant,731.0,366.000000,211.165812,1.000000,183.500000,366.000000,548.500000,731.000000
season,731.0,2.496580,1.110807,1.000000,2.000000,3.000000,3.000000,4.000000
yr,731.0,0.500684,0.500342,0.000000,0.000000,1.000000,1.000000,1.000000
mnth,731.0,6.519836,3.451913,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,731.0,0.028728,0.167155,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,731.0,2.997264,2.004787,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,731.0,0.683995,0.465233,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,731.0,1.395349,0.544894,1.000000,1.000000,1.000000,2.000000,3.000000
temp,731.0,0.495385,0.183051,0.059130,0.337083,0.498333,0.655417,0.861667
atemp,731.0,0.474354,0.162961,0.079070,0.337842,0.486733,0.608602,0.840896
hum,731.0,0.627894,0.142429,0.000000,0.520000,0.626667,0.730209,0.972500
windspeed,731.0,0.190486,0.077498,0.022392,0.134950,0.180975,0.233214,0.507463
casual,731.0,848.176471,686.622488,2.000000,315.500000,713.000000,1096.000000,3410.000000
registered,731.0,3656.172367,1560.256377,20.000000,2497.000000,3662.000000,4776.500000,6946.000000
cnt,731.0,4504.348837,1937.211452,22.000000,3152.000000,4548.000000,5956.000000,8714.000000

### Cleaning Data

Memperbaiki tipe data dan nama pada Day Dataset berdasarkan keterangan pada dokumen Readme.txt

In [8]:
#Mengubah keterangan pada column "season"
day["season"] = day["season"].replace({1:"spring", 2:"summer", 3:"fall", 4:"winter"})

#Mengubah keterangan tahun pada column "yr"
day["yr"] = day["yr"].replace({0:"2011", 1:"2012"})

#Mengubah keterangan bulan pada kolom "mnth"
day["mnth"] = day["mnth"].replace({1:"Jan", 2:"Feb", 3:"Mar",4:"Apr",5:"May",6:"Jun",
                                    7:"Jul", 8:"Aug", 9 :"Sep", 10:"Okt", 11:"Nov", 12:"Dec"})

#Mengubah keterangan hari pada column "weekday"
day["weekday"] = day["weekday"].replace({0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'})

#Mengubah keterangan hari kerja pada column "workingday" 
day["workingday"] = day["workingday"].replace({0:"holiday", 1:"working_day"})

#Mengubah keterangan cuaca pada column "weathersit"
day["weathersit"] = day["weathersit"].replace({1:'Clear',2:'Mist',3:'Light Snow',4:'Heavy Rain'})

In [9]:
day.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,spring,2011,Jan,0,Sun,holiday,Mist,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,spring,2011,Jan,0,Mon,holiday,Mist,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,spring,2011,Jan,0,Tue,working_day,Clear,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,spring,2011,Jan,0,Wed,working_day,Clear,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,spring,2011,Jan,0,Thu,working_day,Clear,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [10]:
day["yr"] = pd.to_datetime(day["yr"], format="%Y").dt.year

Membuang Column yang tidak digunakan yaitu column "dteday","instant", dan "holiday"

In [11]:
day.drop(["dteday","instant","holiday"], axis=1, inplace=True)

In [12]:
day.head()

,season,yr,mnth,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,spring,2011,Jan,Sun,holiday,Mist,0.344167,0.363625,0.805833,0.160446,331,654,985
1,spring,2011,Jan,Mon,holiday,Mist,0.363478,0.353739,0.696087,0.248539,131,670,801
2,spring,2011,Jan,Tue,working_day,Clear,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,spring,2011,Jan,Wed,working_day,Clear,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,spring,2011,Jan,Thu,working_day,Clear,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [13]:
day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      731 non-null    object
 1   yr          731 non-null    int32
 2   mnth        731 non-null    object
 3   weekday     731 non-null    object
 4   workingday  731 non-null    object
 5   weathersit  731 non-null    object
 6   temp        731 non-null    float64
 7   atemp       731 non-null    float64
 8   hum         731 non-null    float64
 9   windspeed   731 non-null    float64
 10  casual      731 non-null    int64
 11  registered  731 non-null    int64
 12  cnt         731 non-null    int64
dtypes: float64(4), int32(1), int64(3), object(5)
memory usage: 71.5+ KB

## Explaratory Data Analyst

In [14]:
day.head()

,season,yr,mnth,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,spring,2011,Jan,Sun,holiday,Mist,0.344167,0.363625,0.805833,0.160446,331,654,985
1,spring,2011,Jan,Mon,holiday,Mist,0.363478,0.353739,0.696087,0.248539,131,670,801
2,spring,2011,Jan,Tue,working_day,Clear,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,spring,2011,Jan,Wed,working_day,Clear,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,spring,2011,Jan,Thu,working_day,Clear,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [15]:
day.season.value_counts()

season
fall      188
summer    184
spring    181
winter    178
Name: count, dtype: int64

In [16]:
day.yr.value_counts()

yr
2012    366
2011    365
Name: count, dtype: int64

In [17]:
day.mnth.value_counts()

mnth
Jan    62
Mar    62
May    62
Jul    62
Aug    62
Okt    62
Dec    62
Apr    60
Jun    60
Sep    60
Nov    60
Feb    57
Name: count, dtype: int64

In [18]:
day.weekday.value_counts()

weekday
Sun    105
Mon    105
Tue    105
Wed    104
Thu    104
Fri    104
Sat    104
Name: count, dtype: int64

In [19]:
day.workingday.value_counts()

workingday
working_day    500
holiday        231
Name: count, dtype: int64

In [20]:
day.weathersit.value_counts()

weathersit
Clear         463
Mist          247
Light Snow     21
Name: count, dtype: int64